// Widescreens
@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

//Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);

    .nav-item .nav-link {
      font-size: 25px;
    }
  }

  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      height: 140px;
      width: 140px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;

    .bio-image {
      height: 250px;
      width: 250px;
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

//Smartphones
@include mediaSm {
  main#home .lg-heading {
    font-size: 50px;
  }
  .sm-heading {
    font-size: 1rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  main#contact .lg-heading {
    font-size: 3rem;
    margin-top: 1rem;
  }

  main#contact .sm-heading {
    font-size: 0.8rem;
  }

  .boxes div {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}
