//Smartphones
@include mediaSm {
  main#home .lg-heading {
    font-size: 50px;
  }
  .sm-heading {
    font-size: 13px;
  }
}

//Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);

    .nav-item .nav-link {
      font-size: 25px;
    }
  }

  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      height: 140px;
      width: 140px;
    }
  }
}

//Desktops & Laptops
// @include mediaLg {
// }

//Widescreens
// @include mediaXL {
// }
