@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
#name,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;

  // &.lg-heading {
  //   font-size: 6rem;
  // }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;
    #name {
      margin-top: 20vh;
    }
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }

    .fab {
      color: set-text-color($primary-color);
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: 5px solid $secondary-color;
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// contact page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px solid $secondary-color;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

// Footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// SVG

#name {
  width: 60vw;
  animation: primary-fill 2s ease forwards 3s;
}

#name path:nth-child(1) {
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
  animation: line-anime 2s ease forwards;
}
#name path:nth-child(2) {
  stroke-dasharray: 513.14;
  stroke-dashoffset: 513.14;
  animation: line-anime 2s ease forwards 0.3s;
}
#name path:nth-child(3) {
  stroke-dasharray: 565.82;
  stroke-dashoffset: 565.82;
  animation: line-anime 2s ease forwards 0.6s;
}
#name path:nth-child(4) {
  stroke-dasharray: 612.83;
  stroke-dashoffset: 612.83;
  animation: line-anime 2s ease forwards 0.9s;
}
#name path:nth-child(5) {
  stroke-dasharray: 518.77;
  stroke-dashoffset: 518.77;
  animation: line-anime 2s ease forwards 1.2s;
}
#name path:nth-child(6) {
  stroke-dasharray: 565.82;
  stroke-dashoffset: 565.82;
  animation: line-anime 2s ease forwards 1.5s;
}
#name path:nth-child(7) {
  stroke-dasharray: 596.11;
  stroke-dashoffset: 596.11;
  animation: line-anime 2s ease forwards 1.8s;
}
#name path:nth-child(8) {
  stroke-dasharray: 391.44;
  stroke-dashoffset: 391.44;
  animation: line-anime 2s ease forwards 2.1s;
}
#name path:nth-child(9) {
  stroke-dasharray: 559.44;
  stroke-dashoffset: 559.44;
  animation: line-anime 2s ease forwards 2.4s;
}
#name path:nth-child(10) {
  stroke-dasharray: 576.22;
  stroke-dashoffset: 576.22;
  animation: line-anime 2s ease forwards 2.7s;
}

@keyframes line-anime {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes primary-fill {
  from {
    fill: transparent;
  }
  to {
    fill: $secondary-color;
  }
}

@import "mobile";
