/* Coolors Exported Palette - coolors.co/1f2041-adfcf9-89a894-f5fbef-04724d */

/* HEX */
$BURLYWOOD: #d8bd8a;
$SMOKY_BLACK: #0c0c0c;
$UMBER: #6c5a49;
$EARTH_YELLOW: #ddb967;
$ONYX: #334139;
$SPACE_CADET: #1b264f;
