/*FONTS*/
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v12/7Auwp_0qiz-afTLGLQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v3/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	background-color: rgba(255,255,255,1);
}

.home-wrap{
	display: flex;
	min-height: 100vh;
	z-index: 2;
}

.home-section{
	flex: 1;
}

.home-section section{
	padding: 50px 0;
}

/*FLEX CLASSES*/
.flex {
	display: flex;
}

.flex--row{
	flex-direction: row;
}

.flex--center{
	justify-content: center;
}

.flex--space-around{
	justify-content: space-around;
}

.flex--column{
	flex-direction: column;
}

.order-first{
	order: -1;
}

/*COLUMNS*/
.col-1{
	max-width: 300px;
	margin: 0 10px;
	/*display: flex;*/
}

.col-2{
	max-width: 620px;
	margin: 0 10px;
}

.col-50{
	width: 50%;
}

.push-left{
	max-width: 250px;
	margin: 0 100px;
	display: block;
}

.home-wrap header{
	width: 135px;
	background: white;
	padding: 30px 0;
}

.header-position{
	position: fixed;
	top: 30px;
	left: 8px;
	bottom: 30px;
	width: 135px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home-wrap header .logo{
	max-width: 135px;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: antraste;
	font-size: 60px;
	color: rgba(0,0,0,1);
}

.site-nav a {
	text-decoration: none;
	color: rgba(0,0,0,1);
	font-family: antraste;
}

.site-nav a:hover{
	font-size: 20px;
	transition: all 150ms ease-in-out;
}

.site-nav a:not(:hover){
	transition: all 150ms ease-in-out;
}

.site-nav ul{
	list-style: none;
	margin: 20px 0;
	padding: 0 25px 0 0;
	text-align: right;
}

.site-nav ul li {
	margin-bottom: 10px;
}

.site-nav ul li:last-child{
	margin-bottom: 0;
}

.email-link{
	display: block;
	text-align: right;
	padding-right: 25px;
}

a.email-link {
	text-decoration: none;
	font-family: antraste;
	font-size: 10px;
	color: rgba(0,0,0,0.6);
}

.mobile-nav-toggle{
	display: none;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	align-items: center;
	cursor: pointer;
}

.mobile-nav-toggle span,
.mobile-nav-toggle span::before,
.mobile-nav-toggle span::after{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #333;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.mobile-nav-toggle span::before{
	top: 15px;
}

.mobile-nav-toggle span::after{
	top: -17px;
}

/*MOBILE NAV TOGGLE WHEN OPENED*/
.mobile-nav-toggle.is-open span{
	background: transparent;
}

.mobile-nav-toggle.is-open span::before,
.mobile-nav-toggle.is-open span::after {
	transform-origin: center;
	transform: rotate(45deg);
	top: 0;
}

.mobile-nav-toggle.is-open span::before{
	transform: rotate(-45deg);
}

.mobile-nav {
	display: none;
	position: absolute;
	width: 100%;
	background: white;
	padding: 30px 0 20px;
	/* transform: translateY(-110%); */
	/* transition: all 0.3s ease-in-out; */;
}

.mobile-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.mobile-nav li{
	text-align: center;
	margin-bottom: 10px;
}

.mobile-nav a{
	text-decoration: none;
	font-family: antraste;
	color: rgba(0,0,0,0.8);
	font-size: 20px;
}

/*SECTION ABOUT*/
section.about{
	background: url(../images/books-and-pen.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 350px;
}

section.about h2{
	font-family: 'Muli', sans-serif;
	font-size: 35px;
	color: rgba(0,0,01);
}

section.about p{
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	color: rgba(0,0,0,1);
}

/*SECTION SKILLS*/
section.skill {
	background: url(../images/code-2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	min-height: 500px;
	margin-top: 30px;
}

section.skill .col-2:nth-child(2) p {
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	margin: 0 20px;
	color: rgba(255,255,255,1);
}

section.skill .col-50 h2{
	color: rgba(255,255,255,1);
	font-family: 'Muli', sans-serif;
	font-size: 40px;
	width: 100%;
}

section.skill .flex--column{
	margin: 0 50px;
	justify-content: flex-end;
	height: 500px;
}

section.skill .col-1 h2{
	color: rgb(255,255,255,1);
}

.fill-white{
	fill: rgba(255,255,255,1);
}

.html-svg,
.css-svg,
.python-svg,
.js-svg,
.java-svg{
	width: 7vw;
	margin: auto 20px;
}

section.resume p{
	font-family: 'Muli', sans-serif;
	font-size: 2vw;
	margin: 20px 0;
	display: flex;
	justify-content: center;
}

section.resume a{
	margin: 20px 0;
	display: flex;
	justify-content: center;
}

section.resume img{
	height: 30vw;
}

section.resume .home-cta{
	font-size: 1.8vw;
	/*display: block;*/
	background: rgba(60,60,70,1);
	text-align: center;
	color: rgba(255,255,255,1);
	text-decoration: none;
	padding: 1em 0;
	font-family: 'Muli', sans-serif;
	line-height: 1;
}

section.resume .home-cta:hover{
	transition: all 150ms ease-in-out;
	box-shadow: 0px 5px 14px rgba(0,0,0,0.6);
}

section.resume .home-cta:not(:hover){
	transition: all 150ms ease-in-out;
}

/*FOOTER*/
footer.home-footer{
	background: rgba(60,60,70,1);
    width: 100%;
    text-align: center;
}

footer a {
	color: rgba(255,255,255,1);
    border: 5px solid #FFF;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-size: 4vw;
    line-height: 5;
    width: 100%;
    padding: 25px;
}

footer a:hover{
	filter: brightness(80%);
	padding: 30px;
	transition: all 150ms ease-in-out;
}

footer a:not(:hover){
	padding: 25px;
	transition: all 150ms ease-in-out;
}

/*MEDIA QUERIES*/
@media (max-width: 775px) {
	.home-wrap{
		display: block;
	}

	.home-wrap header {
		width: auto;
		padding: 20px 0;
	}

	.header-position {
		width: auto;
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		flex-direction: row;
		align-items: center;
	}

	.site-nav, .email-link {
		display: none;
	}

	.home-wrap header .logo {
		height: 45px;
		font-size: 40px;
		margin-left: 20px;
	}

	.mobile-nav-toggle {
		display: flex;
	}

	.mobile-nav.is-open{
		display: block;
		transform: translateY(0%);
		left: 0;
	}

	.mobile-nav a{
		text-decoration: none;
		font-family: antraste;
		color: rgba(0,0,0,0.8);
		font-size: 14px;
	}

	section.resume p{
		font-size: 3vw;
	}
}

@media (max-width: 640px){
	footer a{
		border: none;
	}

	.home-section .flex{
		display: block;
	}

	.col-1{
		max-width: 100%;
	}

	.col-50{
		width: auto;
	}

	.push-left{
		margin: 0 50px;
	}

	.html-svg,
	.css-svg,
	.php-svg,
	.js-svg,
	.python-svg,
	.java-svg{
		margin: 10px auto;
		width: 12vw;
	}

	section.resume p{
		font-size: 5vw;
	}

	section.resume {
		display: flex;
		flex-direction: column;
	}

	section.resume img {
		height: 45vh;
	}

	section.resume .home-cta {
		font-size: 3vh;
	}

	section.about h2{
		font-size: 26px;
		margin-top: 55px;
	}

	.mobile-nav{
		padding: 20px 0 5px;
	}
}
